.History {
    padding: 16px;
    margin: 16px;
    background-color: rgb(152, 228, 221);
    text-align: center;
    display: flex;
    width: max-content;
    
}

.History.container{
    /* width: 30%; */
    display: flex;
    border: none;
    margin: 0;
    margin-left: 10px;
    padding: 0;
}

.text {
    margin-right: 10px;
}