.App {
  text-align: center;
  margin: auto;
  width: 70%;
}

@media (max-width: 600px) and (min-width: 400px)  {
  .App {
    text-align: center;
    margin: auto;
  }
}

.App-input {
  display: flex;
  width: auto;
}

.App-wrapper{
  margin: 10px;
  position: absolute;  
  width: max-content;
}

.autocomplete__list li {
  z-index: 100;
}

